body{

  background: #000;
  font-family:'Arial'!important;
  color:#FF0000!important;
}
.weatherInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
    background: #151515!important;
}

#weatherWidget {
    font-family: 'Arial', sans-serif!important;
    font-size: 1rem;
}
